In [1]:
# importing libraries

import pandas as pd
from random import randrange
import time

## Single-page Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all the doctors info on page 292.
- Export the content into a CSV file called ```page_292.csv```.

In [2]:
## create coding cells as needed

url_sp = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action?d-49653-p="
page_num = 292

pd.read_html(f"{url_sp}{page_num}")

[                                  Physician Last Name  \
 0                                               Ataee
 1                                              Feiner
 2                                              Taylor
 3                                             Donshik
 4                                             Robbins
 5                                             Freeman
 6                                           Markowitz
 7                                              Puskas
 8                                               Lopez
 9                                              Hirsch
 10                                             Stobie
 11                                                Leo
 12                                                 Lu
 13                                              James
 14                                             O'Hair
 15                                           Berselli
 16                                             Baldeo
 17                                       Bell-Thomson
 18                                        Vanderwalde
 19                                            Salerno
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                              Shahab                   NaN
 1                                                Marc                  Alan
 2                                               David               Howarth
 3                                                 Jon                 David
 4                                             Richard                 Gregg
 5                                             Douglas                   NaN
 6                                              Howard                   NaN
 7                                                John               Michael
 8                                                Jose                     A
 9                                             Anthony                   NaN
 10                                              David                     W
 11                                             Thomas        Friedrich Paul
 12                                              Jiade                   Jay
 13                                             Robert               Truxton
 14                                              James               Patrick
 15                                             Robert                Andrew
 16                                             Philip                   NaN
 17                                               John                   NaN
 18                                               Alan                   NaN
 19                                             Egisto                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         232919.0           MD     09/11/2003   10/07/2003         1964.0
 1         147174.0           MD     10/10/2003   10/06/2003         1952.0
 2         154079.0           MD     10/10/2003   10/06/2003         1953.0
 3         202926.0           MD     10/10/2003   10/06/2003         1968.0
 4         179378.0           MD     10/10/2003   10/06/2003         1963.0
 5         220267.0           MD     10/10/2003   10/06/2003         1968.0
 6         188933.0           MD     10/10/2003   10/06/2003         1961.0
 7         120273.0           MD     10/06/2003   10/01/2003         1945.0
 8         192852.0           MD     10/06/2003   10/01/2003         1962.0
 9          98440.0           MD     10/01/2003   09/24/2003         1940.0
 10          2800.0           PA     10/01/2003   09/24/2003         1962.0
 11         79593.0           MD     10/01/2003   09/24/2003         1925.0
 12        213593.0           MD     10/01/2003   09/24/2003         1970.0
 13        185183.0           MD     10/01/2003   09/24/2003         1932.0
 14        200465.0           MD     10/01/2003   09/24/2003         1965.0
 15         95088.0           MD     10/10/2003   09/22/2003         1939.0
 16        194531.0           MD     06/28/2004   09/22/2003         1957.0
 17        121353.0           MD     12/02/1998   09/17/2003         1947.0
 18        132894.0           MD     09/07/2003   09/16/2003         1949.0
 19        153248.0           MD     09/18/2003   09/12/2003         1944.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0                Ataee               Shahab                   NaN
 1               Feiner                 Marc                  Alan
 2               Taylor                David               Howarth
 3              Donshik                  Jon                 David
 4              Robbins              Richard                 Gregg
 5              Freeman              Douglas                   NaN
 6            Markowitz               Howard                   NaN
 7               Puskas                 John               Michael
 8                Lopez                 Jose                     A
 9               Hirsch              Anthony                   NaN
 10              Stobie                David                     W
 11                 Leo               Thomas        Friedrich Paul
 12                  Lu                Jiade                   Jay
 13               James               Robert               Truxton
 14              O'Hair                James               Patrick
 15            Berselli               Robert                Andrew
 16              Baldeo               Philip                   NaN
 17        Bell-Thomson                 John                   NaN
 18         Vanderwalde                 Alan                   NaN
 19             Salerno               Egisto                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           232919           MD     09/11/2003   10/07/2003           1964
 1           147174           MD     10/10/2003   10/06/2003           1952
 2           154079           MD     10/10/2003   10/06/2003           1953
 3           202926           MD     10/10/2003   10/06/2003           1968
 4           179378           MD     10/10/2003   10/06/2003           1963
 5           220267           MD     10/10/2003   10/06/2003           1968
 6           188933           MD     10/10/2003   10/06/2003           1961
 7           120273           MD     10/06/2003   10/01/2003           1945
 8           192852           MD     10/06/2003   10/01/2003           1962
 9            98440           MD     10/01/2003   09/24/2003           1940
 10            2800           PA     10/01/2003   09/24/2003           1962
 11           79593           MD     10/01/2003   09/24/2003           1925
 12          213593           MD     10/01/2003   09/24/2003           1970
 13          185183           MD     10/01/2003   09/24/2003           1932
 14          200465           MD     10/01/2003   09/24/2003           1965
 15           95088           MD     10/10/2003   09/22/2003           1939
 16          194531           MD     06/28/2004   09/22/2003           1957
 17          121353           MD     12/02/1998   09/17/2003           1947
 18          132894           MD     09/07/2003   09/16/2003           1949
 19          153248           MD     09/18/2003   09/12/2003           1944  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [3]:
response_sp = pd.read_html(f"{url_sp}{page_num}")[1]
response_sp

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Ataee,Shahab,NaN,232919,MD,09/11/2003,10/07/2003,1964
1,Feiner,Marc,Alan,147174,MD,10/10/2003,10/06/2003,1952
2,Taylor,David,Howarth,154079,MD,10/10/2003,10/06/2003,1953
3,Donshik,Jon,David,202926,MD,10/10/2003,10/06/2003,1968
4,Robbins,Richard,Gregg,179378,MD,10/10/2003,10/06/2003,1963
5,Freeman,Douglas,NaN,220267,MD,10/10/2003,10/06/2003,1968
6,Markowitz,Howard,NaN,188933,MD,10/10/2003,10/06/2003,1961
7,Puskas,John,Michael,120273,MD,10/06/2003,10/01/2003,1945
8,Lopez,Jose,A,192852,MD,10/06/2003,10/01/2003,1962
9,Hirsch,Anthony,NaN,98440,MD,10/01/2003,09/24/2003,1940
10,Stobie,David,W,2800,PA,10/01/2003,09/24/2003,1962
11,Leo,Thomas,Friedrich Paul,79593,MD,10/01/2003,09/24/2003,1925
12,Lu,Jiade,Jay,213593,MD,10/01/2003,09/24/2003,1970
13,James,Robert,Truxton,185183,MD,10/01/2003,09/24/2003,1932
14,O'Hair,James,Patrick,200465,MD,10/01/2003,09/24/2003,1965
15,Berselli,Robert,Andrew,95088,MD,10/10/2003,09/22/2003,1939
16,Baldeo,Philip,NaN,194531,MD,06/28/2004,09/22/2003,1957
17,Bell-Thomson,John,NaN,121353,MD,12/02/1998,09/17/2003,1947
18,Vanderwalde,Alan,NaN,132894,MD,09/07/2003,09/16/2003,1949
19,Salerno,Egisto,NaN,153248,MD,09/18/2003,09/12/2003,1944

In [4]:
response_sp.to_csv("page_292.csv", index=False, encoding="UTF-8")

## Multipage Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all doctors whose last names begin with "P".
- Export the content into a CSV file called ```md_P.csv```.

In [5]:
## create coding cells as needed

url_mp = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch="
letter_search = "P"
url_page_num = "&d-49653-p="

base_url = f"{url_mp}{letter_search}{url_page_num}"

pd.read_html(base_url)

[                                  Physician Last Name  \
 0                                                Paal
 1                                                Pace
 2                                                Pace
 3                                             Pacetti
 4                                              Pachas
 5                                             Pacheco
 6                                               Pacik
 7                                               Pacis
 8                                                Pack
 9                                        Packianathan
 10                                       Packianathan
 11                                              Padeh
 12                                              Padeh
 13                                            Padilla
 14                                            Padilla
 15                                            Padilla
 16                                            Padnani
 17                                             Paduch
 18                                             Pagano
 19                                             Pagano
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                                Adam                   NaN
 1                                              Enrico                   NaN
 2                                             Leonard                   NaN
 3                                             Stephen                     J
 4                                              Hector                     M
 5                                               Denny                    J.
 6                                               Peter                   NaN
 7                                           Andresito                    B.
 8                                                   A               Stephen
 9                                            Emmanuel                   NaN
 10                                           Emmanuel                   NaN
 11                                              Asher                   NaN
 12                                              Asher                   NaN
 13                                          Crisologo                   NaN
 14                                              Maria             Lourdes B
 15                                              Maria                   NaN
 16                                              Koshi                   NaN
 17                                             Darius                  Adam
 18                                            Anthony                   NaN
 19                                             Dwight                     M
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0              NaN           MD     10/30/2000          NaN         1961.0
 1         166026.0           MD     08/21/2001          NaN         1956.0
 2         172870.0           MD     01/15/2002   01/22/2002         1952.0
 3         175021.0           MD     04/14/2016   04/07/2016         1957.0
 4          95535.0           MD     02/11/1993          NaN            NaN
 5         258600.0           DO     08/27/2020   08/26/2020         1962.0
 6          96944.0           MD     11/15/2012   11/09/2012         1940.0
 7         125213.0           MD     10/22/2021   10/22/2021         1938.0
 8         183669.0           MD     04/28/2000   07/19/2001         1956.0
 9         203833.0           MD     07/31/2008   07/25/2008         1945.0
 10        203833.0           MD     07/15/2016   07/18/2016         1946.0
 11        108572.0           MD     04/18/1997          NaN            NaN
 12        108572.0           MD     07/10/1995          NaN            NaN
 13        109998.0           MD     10/08/2002   04/05/2011         1935.0
 14        148379.0           MD     09/13/2001   10/15/2001         1951.0
 15        191849.0           MD     04/20/2011   04/18/2011         1962.0
 16        159535.0           MD     05/19/1993   03/22/2004            NaN
 17        227386.0           MD     09/05/2023   08/29/2023         1967.0
 18         80588.0           MD     11/12/1997          NaN            NaN
 19        141105.0           MD     06/09/2004   06/04/2004         1952.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0                 Paal                 Adam                   NaN
 1                 Pace               Enrico                   NaN
 2                 Pace              Leonard                   NaN
 3              Pacetti              Stephen                     J
 4               Pachas               Hector                     M
 5              Pacheco                Denny                    J.
 6                Pacik                Peter                   NaN
 7                Pacis            Andresito                    B.
 8                 Pack                    A               Stephen
 9         Packianathan             Emmanuel                   NaN
 10        Packianathan             Emmanuel                   NaN
 11               Padeh                Asher                   NaN
 12               Padeh                Asher                   NaN
 13             Padilla            Crisologo                   NaN
 14             Padilla                Maria             Lourdes B
 15             Padilla                Maria                   NaN
 16             Padnani                Koshi                   NaN
 17              Paduch               Darius                  Adam
 18              Pagano              Anthony                   NaN
 19              Pagano               Dwight                     M

     License Number License Type Effective Date Date Updated  Year of Birth
 0              NaN           MD     10/30/2000          NaN         1961.0
 1         166026.0           MD     08/21/2001          NaN         1956.0
 2         172870.0           MD     01/15/2002   01/22/2002         1952.0
 3         175021.0           MD     04/14/2016   04/07/2016         1957.0
 4          95535.0           MD     02/11/1993          NaN            NaN
 5         258600.0           DO     08/27/2020   08/26/2020         1962.0
 6          96944.0           MD     11/15/2012   11/09/2012         1940.0
 7         125213.0           MD     10/22/2021   10/22/2021         1938.0
 8         183669.0           MD     04/28/2000   07/19/2001         1956.0
 9         203833.0           MD     07/31/2008   07/25/2008         1945.0
 10        203833.0           MD     07/15/2016   07/18/2016         1946.0
 11        108572.0           MD     04/18/1997          NaN            NaN
 12        108572.0           MD     07/10/1995          NaN            NaN
 13        109998.0           MD     10/08/2002   04/05/2011         1935.0
 14        148379.0           MD     09/13/2001   10/15/2001         1951.0
 15        191849.0           MD     04/20/2011   04/18/2011         1962.0
 16        159535.0           MD     05/19/1993   03/22/2004            NaN
 17        227386.0           MD     09/05/2023   08/29/2023         1967.0
 18         80588.0           MD     11/12/1997          NaN            NaN
 19        141105.0           MD     06/09/2004   06/04/2004         1952.0  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [6]:
pd.read_html(base_url)[1]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Paal,Adam,NaN,NaN,MD,10/30/2000,NaN,1961.0
1,Pace,Enrico,NaN,166026.0,MD,08/21/2001,NaN,1956.0
2,Pace,Leonard,NaN,172870.0,MD,01/15/2002,01/22/2002,1952.0
3,Pacetti,Stephen,J,175021.0,MD,04/14/2016,04/07/2016,1957.0
4,Pachas,Hector,M,95535.0,MD,02/11/1993,NaN,NaN
5,Pacheco,Denny,J.,258600.0,DO,08/27/2020,08/26/2020,1962.0
6,Pacik,Peter,NaN,96944.0,MD,11/15/2012,11/09/2012,1940.0
7,Pacis,Andresito,B.,125213.0,MD,10/22/2021,10/22/2021,1938.0
8,Pack,A,Stephen,183669.0,MD,04/28/2000,07/19/2001,1956.0
9,Packianathan,Emmanuel,NaN,203833.0,MD,07/31/2008,07/25/2008,1945.0
10,Packianathan,Emmanuel,NaN,203833.0,MD,07/15/2016,07/18/2016,1946.0
11,Padeh,Asher,NaN,108572.0,MD,04/18/1997,NaN,NaN
12,Padeh,Asher,NaN,108572.0,MD,07/10/1995,NaN,NaN
13,Padilla,Crisologo,NaN,109998.0,MD,10/08/2002,04/05/2011,1935.0
14,Padilla,Maria,Lourdes B,148379.0,MD,09/13/2001,10/15/2001,1951.0
15,Padilla,Maria,NaN,191849.0,MD,04/20/2011,04/18/2011,1962.0
16,Padnani,Koshi,NaN,159535.0,MD,05/19/1993,03/22/2004,NaN
17,Paduch,Darius,Adam,227386.0,MD,09/05/2023,08/29/2023,1967.0
18,Pagano,Anthony,NaN,80588.0,MD,11/12/1997,NaN,NaN
19,Pagano,Dwight,M,141105.0,MD,06/09/2004,06/04/2004,1952.0

In [7]:
counter = 1 
last_page = 24 
main_df = [] 
error_pages = [] 

for page_num in range(1,last_page):
    scrape_url = f"{base_url}{page_num}"
    print(f"Scraping page {counter} of {last_page} pages...")
    counter = counter + 1
    try:
        main_df.append(pd.read_html(scrape_url)[1]) 
    except:
        error_pages.append(scrape_url)
        print(f"There is an error in this page: {link}")
    finally:
        snoozer = randrange(5,12)
        print(f"Snoozing for {snoozer} seconds before scraping the next page...")
        time.sleep(snoozer)

print("Scraping is finished!")

Scraping page 1 of 24 pages...
Snoozing for 8 seconds before scraping the next page...
Scraping page 2 of 24 pages...
Snoozing for 6 seconds before scraping the next page...
Scraping page 3 of 24 pages...
Snoozing for 6 seconds before scraping the next page...
Scraping page 4 of 24 pages...
Snoozing for 6 seconds before scraping the next page...
Scraping page 5 of 24 pages...
Snoozing for 7 seconds before scraping the next page...
Scraping page 6 of 24 pages...
Snoozing for 9 seconds before scraping the next page...
Scraping page 7 of 24 pages...
Snoozing for 5 seconds before scraping the next page...
Scraping page 8 of 24 pages...
Snoozing for 8 seconds before scraping the next page...
Scraping page 9 of 24 pages...
Snoozing for 9 seconds before scraping the next page...
Scraping page 10 of 24 pages...
Snoozing for 6 seconds before scraping the next page...
Scraping page 11 of 24 pages...
Snoozing for 8 seconds before scraping the next page...
Scraping page 12 of 24 pages...
Snoozing for 7 seconds before scraping the next page...
Scraping page 13 of 24 pages...
Snoozing for 6 seconds before scraping the next page...
Scraping page 14 of 24 pages...
Snoozing for 5 seconds before scraping the next page...
Scraping page 15 of 24 pages...
Snoozing for 5 seconds before scraping the next page...
Scraping page 16 of 24 pages...
Snoozing for 7 seconds before scraping the next page...
Scraping page 17 of 24 pages...
Snoozing for 5 seconds before scraping the next page...
Scraping page 18 of 24 pages...
Snoozing for 9 seconds before scraping the next page...
Scraping page 19 of 24 pages...
Snoozing for 8 seconds before scraping the next page...
Scraping page 20 of 24 pages...
Snoozing for 6 seconds before scraping the next page...
Scraping page 21 of 24 pages...
Snoozing for 11 seconds before scraping the next page...
Scraping page 22 of 24 pages...
Snoozing for 10 seconds before scraping the next page...
Scraping page 23 of 24 pages...
Snoozing for 5 seconds before scraping the next page...
Scraping is finished!

In [8]:
len(main_df)

23

In [9]:
len(error_pages)

0

In [10]:
md_p = pd.concat(main_df, ignore_index=True)
md_p

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Paal,Adam,NaN,NaN,MD,10/30/2000,NaN,1961.0
1,Pace,Enrico,NaN,166026.0,MD,08/21/2001,NaN,1956.0
2,Pace,Leonard,NaN,172870.0,MD,01/15/2002,01/22/2002,1952.0
3,Pacetti,Stephen,J,175021.0,MD,04/14/2016,04/07/2016,1957.0
4,Pachas,Hector,M,95535.0,MD,02/11/1993,NaN,NaN
...,...,...,...,...,...,...,...,...
455,Psaila,Justin,Sciberras,83832.0,MD,07/26/2005,07/20/2005,1928.0
456,Pua,Florence,NaN,197443.0,MD,09/26/2024,09/19/2024,1950.0
457,Puca,Christopher,NaN,147733.0,MD,11/25/2009,11/18/2009,1952.0
458,Puccio,Steven,T.,229825.0,DO,07/01/2021,07/01/2021,1964.0
459,Pujol,Jackie,NaN,112525.0,MD,11/22/2016,02/15/2017,1935.0

In [11]:
md_p.to_csv("md_p.csv", index=False, encoding="UTF-8")