# Week 1 - ```for``` loops

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [1]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [2]:
## call the temporary variable

fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [3]:
## name dog lucy

my_dog = "lucy"

In [4]:
## upper case the previous variable 
## you can target an individual item

my_dog.title()

'Lucy'

In [5]:
## use a for loop to upper case each animal and print it

for fav_animal in fav_animals:
    print(fav_animal.upper())

CATS
DOGS
BIRDS
SNAKES
HORSES

In [6]:
## did our list change? Call the fav_animals list
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [7]:
## We save our iterated data by adding to an empty list

upper_animals = [] ## initializing

In [8]:
for animal in fav_animals:
    upper_cased = animal.upper()
    print(upper_cased)
    upper_animals.append(upper_cased)

CATS
DOGS
BIRDS
SNAKES
HORSES

In [9]:
## this is the shorter version

upper_animals = []

for animal in fav_animals:
    upper_animals.append(animal.upper())

upper_animals

['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']

```for loops``` <a href="https://docs.google.com/presentation/d/1ZsrzpQHTXK35pd3io8rwQUX10rBHf1T9iYz_SaqbhQo/edit?usp=sharing">slides</a>

Let's take **For Loops** for test drive:

In [10]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [11]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."

for ceo_salary in ceo_salaries_1985:
    print(f"A CEO earned {ceo_salary:,} in 1985.")

A CEO earned 150,000 in 1985.
A CEO earned 201,000 in 1985.
A CEO earned 110,000 in 1985.
A CEO earned 75,000 in 1985.
A CEO earned 92,000 in 1985.
A CEO earned 55,000 in 1985.

In [26]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The 2023 CPI is 306.746
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting

cpi_1985 = 107.6
cpi_2019 = 255.657
cpi_2023 = 306.746

In [28]:
## store the updated values

ceo_salaries_2023 = []
ceo_salaries_2019 = []

for ceo_salary in ceo_salaries_1985:
    updated_salary_2023 = (ceo_salary / cpi_1985) * cpi_2023
    updated_salary_2019 = (ceo_salary / cpi_1985) * cpi_2019
    ceo_salaries_2023.append(updated_salary_2023)
    ceo_salaries_2019.append(updated_salary_2019)
    print(f"A CEO's salary of ${ceo_salary:,} in 1985 is worth ${updated_salary_2023:,.0f} in 2023 dollars.")

A CEO's salary of $150,000 in 1985 is worth $427,620 in 2023 dollars.
A CEO's salary of $201,000 in 1985 is worth $573,011 in 2023 dollars.
A CEO's salary of $110,000 in 1985 is worth $313,588 in 2023 dollars.
A CEO's salary of $75,000 in 1985 is worth $213,810 in 2023 dollars.
A CEO's salary of $92,000 in 1985 is worth $262,274 in 2023 dollars.
A CEO's salary of $55,000 in 1985 is worth $156,794 in 2023 dollars.

In [22]:
## call updated ceo salaries

ceo_salaries_2023

[427619.88847583643,
 573010.6505576208,
 313587.91821561335,
 213809.94423791821,
 262273.531598513,
 156793.95910780667]

In [23]:
ceo_salaries_2019

[356399.16356877325,
 477574.8791821562,
 261359.3866171004,
 178199.58178438662,
 218591.4869888476,
 130679.6933085502]