<img src="https://sandeepmj.github.io/image-host/green-scrapes.png" >

# Single Page, Single Table


### We want to scrape a table that contains favorite morning drinks on this <a href="https://sandeepmj.github.io/scrape-example-page/">demo page</a>.

The webpage is ```https://sandeepmj.github.io/scrape-example-page/```

**Create cells below as necessary**

In [1]:
# importing libraries

import pandas as pd

In [2]:
# checking pandas version

print(pd.__version__)

2.2.2

In [3]:
# scrape URL of website

url = "https://sandeepmj.github.io/scrape-example-page/"

In [4]:
# read the URL

pd.read_html(url) # only returns tabular data

[         Drink  Serving Size (oz)  Caffeine (mg)
 0    Coke Zero                 16             45
 1   Chai Latte                 16             95
 2  Caffe Latte                 16            150,
                 Player position Played Team  salary 2019
 0         Kirk Cousins              QB  MIN  $27,500,000
 1       Jameis Winston              QB  TAM  $20,922,000
 2       Marcus Mariota              QB  TEN  $20,922,000
 3           Derek Carr              QB  OAK  $19,900,000
 4           Joe Flacco              QB  DEN  $18,500,000
 ...                ...             ...  ...          ...
 1909  D'Ernest Johnson              RB  CLE     $495,000
 1910  Garrett Bradbury              OL  MIN     $495,000
 1911      Alex Redmond               G  CIN     $493,236
 1912       Holton Hill              CB  MIN     $435,882
 1913    Tyrone Swoopes              TE  SEA     $378,034

 [1914 rows x 4 columns]]

In [5]:
type(pd.read_html(url))

list

In [6]:
# store response

response = pd.read_html(url)
response

[         Drink  Serving Size (oz)  Caffeine (mg)
 0    Coke Zero                 16             45
 1   Chai Latte                 16             95
 2  Caffe Latte                 16            150,
                 Player position Played Team  salary 2019
 0         Kirk Cousins              QB  MIN  $27,500,000
 1       Jameis Winston              QB  TAM  $20,922,000
 2       Marcus Mariota              QB  TEN  $20,922,000
 3           Derek Carr              QB  OAK  $19,900,000
 4           Joe Flacco              QB  DEN  $18,500,000
 ...                ...             ...  ...          ...
 1909  D'Ernest Johnson              RB  CLE     $495,000
 1910  Garrett Bradbury              OL  MIN     $495,000
 1911      Alex Redmond               G  CIN     $493,236
 1912       Holton Hill              CB  MIN     $435,882
 1913    Tyrone Swoopes              TE  SEA     $378,034

 [1914 rows x 4 columns]]

In [7]:
# how long is this list?

len(response)

2

In [8]:
# retrieve a single table, the first table

df = response[0]
df

         Drink  Serving Size (oz)  Caffeine (mg)
0    Coke Zero                 16             45
1   Chai Latte                 16             95
2  Caffe Latte                 16            150

In [9]:
# export as csv

df.to_csv("drinks.csv", index=False, encoding="UTF-8")

## Exercise: Scrape NFL salaries

In [10]:
## create cells as necessary

nfl_df = response[1]
nfl_df

                Player position Played Team  salary 2019
0         Kirk Cousins              QB  MIN  $27,500,000
1       Jameis Winston              QB  TAM  $20,922,000
2       Marcus Mariota              QB  TEN  $20,922,000
3           Derek Carr              QB  OAK  $19,900,000
4           Joe Flacco              QB  DEN  $18,500,000
...                ...             ...  ...          ...
1909  D'Ernest Johnson              RB  CLE     $495,000
1910  Garrett Bradbury              OL  MIN     $495,000
1911      Alex Redmond               G  CIN     $493,236
1912       Holton Hill              CB  MIN     $435,882
1913    Tyrone Swoopes              TE  SEA     $378,034

[1914 rows x 4 columns]

In [11]:
nfl_df.to_csv("nfl_salaries.csv", index=False, encoding="UTF-8")

In [12]:
pd.read_csv("nfl_salaries.csv")

                Player position Played Team  salary 2019
0         Kirk Cousins              QB  MIN  $27,500,000
1       Jameis Winston              QB  TAM  $20,922,000
2       Marcus Mariota              QB  TEN  $20,922,000
3           Derek Carr              QB  OAK  $19,900,000
4           Joe Flacco              QB  DEN  $18,500,000
...                ...             ...  ...          ...
1909  D'Ernest Johnson              RB  CLE     $495,000
1910  Garrett Bradbury              OL  MIN     $495,000
1911      Alex Redmond               G  CIN     $493,236
1912       Holton Hill              CB  MIN     $435,882
1913    Tyrone Swoopes              TE  SEA     $378,034

[1914 rows x 4 columns]

# Multi-page Tables Scrape Demo

You're often going to encounter data and tables spread across hundreds if not thousands of pages.

We might want to, for example, compile details about all the doctors  <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">on this site</a> and export to a ```dataframe``` and a ```.csv``` file.

#### Today in class

We're going to scrape as a demo a table that runs across several pages on [this mock website](https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page1.html).

```https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page1.html```

In [13]:
# single-page scrape

url = "https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page1.html"
response = pd.read_html(url)
response[0]

                 Animal  Weight(kg)    Type
0            Blue whale      136000  Marine
1         Bowhead whale      100000  Marine
2             Fin whale       70000  Marine
3  Southern right whale       45000  Marine
4        Humpback whale       30000  Marine

In [14]:
base_url = "https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page"
base_url

'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page'

In [15]:
urls_fl = []

for url_number in range(1,7): # range(inclusive/start, exclusive/end)
    urls_fl.append(f"{base_url}{url_number}.html")

urls_fl

['https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page1.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page2.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page3.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page4.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page5.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page6.html']

In [16]:
# list comprehension version

urls_lc = [ f"{base_url}{url_number}.html" for url_number in range(1,7) ]
urls_lc

['https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page1.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page2.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page3.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page4.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page5.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page6.html']

In [17]:
# importing libraries

from random import randrange
import time

In [18]:
# using snoozer 

for url in urls_lc:
    df = pd.read_html(url)
    print(df)
    snoozer = randrange(5,12)
    print(f"Snoozing for {snoozer} seconds before next scrape")
    time.sleep(snoozer)

[                 Animal  Weight(kg)    Type
0            Blue whale      136000  Marine
1         Bowhead whale      100000  Marine
2             Fin whale       70000  Marine
3  Southern right whale       45000  Marine
4        Humpback whale       30000  Marine]
Snoozing for 6 seconds before next scrape
[                 Animal  Weight(kg)    Type
0            Gray whale       28500  Marine
1  Northern right whale       23000  Marine
2             Sei whale       20000  Marine
3         Bryde's whale       16000  Marine
4  Baird's beaked whale       11380  Marine]
Snoozing for 11 seconds before next scrape
[                      Animal  Weight(kg)         Type
0                Minke whale        7500       Marine
1  Northern bottlenose whale        6500       Marine
2     Gervais's beaked whale        5600       Marine
3           African elephant        4800  Terrestrial
4               Killer whale        3988       Marine]
Snoozing for 11 seconds before next scrape

ValueError: No tables found

In [22]:
# try-except-finally in action

for url in urls_lc:
    try:
        df = pd.read_html(url)
        print(df)
    except:
        print(f"Uh-oh... Problem with {url}")
    finally: 
        snoozer = randrange(5,12)
        print(f"Snoozing for {snoozer} seconds before next scrape")
        time.sleep(snoozer)

[                 Animal  Weight(kg)    Type
0            Blue whale      136000  Marine
1         Bowhead whale      100000  Marine
2             Fin whale       70000  Marine
3  Southern right whale       45000  Marine
4        Humpback whale       30000  Marine]
Snoozing for 7 seconds before next scrape
[                 Animal  Weight(kg)    Type
0            Gray whale       28500  Marine
1  Northern right whale       23000  Marine
2             Sei whale       20000  Marine
3         Bryde's whale       16000  Marine
4  Baird's beaked whale       11380  Marine]
Snoozing for 7 seconds before next scrape
[                      Animal  Weight(kg)         Type
0                Minke whale        7500       Marine
1  Northern bottlenose whale        6500       Marine
2     Gervais's beaked whale        5600       Marine
3           African elephant        4800  Terrestrial
4               Killer whale        3988       Marine]
Snoozing for 9 seconds before next scrape
Uh-oh... Problem with https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page4.html
Snoozing for 9 seconds before next scrape
[                     Animal  Weight(kg)         Type
0              Hippopotamus        3750  Terrestrial
1            Asian elephant        3178  Terrestrial
2     Cuvier's beaked whale        2701       Marine
3  Short-finned pilot whale        2200       Marine
4          White rhinoceros        2175  Terrestrial]
Snoozing for 7 seconds before next scrape
Uh-oh... Problem with https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page6.html
Snoozing for 8 seconds before next scrape

## How do we refine the above code?

1. Flagging when the scraping is done
2. List appending a main df, compiling to a single df
3. List for URLs with an error
4. Counter to show the progress at a given time

In [23]:
total_links = len(urls_lc)
total_links

6

In [24]:
df_all = [] # holds all dataframes
problem_urls = [] # holds problematic URLs
counter = 0

for url in urls_lc:
    counter = counter + 1
    print(f"Scraping link {counter} of {total_links}...")
    try:
        df = pd.read_html(url)
        print(df[0])
        df_all.append(df[0])
    except:
        print(f"Uh-oh... Problem with {url}")
        problem_urls.append(url)
    finally: 
        snoozer = randrange(5,12)
        print(f"Snoozing for {snoozer} seconds before next scrape")
        time.sleep(snoozer)

print("Done scraping!")

Scraping link 1 of 6...
                 Animal  Weight(kg)    Type
0            Blue whale      136000  Marine
1         Bowhead whale      100000  Marine
2             Fin whale       70000  Marine
3  Southern right whale       45000  Marine
4        Humpback whale       30000  Marine
Snoozing for 11 seconds before next scrape
Scraping link 2 of 6...
                 Animal  Weight(kg)    Type
0            Gray whale       28500  Marine
1  Northern right whale       23000  Marine
2             Sei whale       20000  Marine
3         Bryde's whale       16000  Marine
4  Baird's beaked whale       11380  Marine
Snoozing for 6 seconds before next scrape
Scraping link 3 of 6...
                      Animal  Weight(kg)         Type
0                Minke whale        7500       Marine
1  Northern bottlenose whale        6500       Marine
2     Gervais's beaked whale        5600       Marine
3           African elephant        4800  Terrestrial
4               Killer whale        3988       Marine
Snoozing for 11 seconds before next scrape
Scraping link 4 of 6...
Uh-oh... Problem with https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page4.html
Snoozing for 11 seconds before next scrape
Scraping link 5 of 6...
                     Animal  Weight(kg)         Type
0              Hippopotamus        3750  Terrestrial
1            Asian elephant        3178  Terrestrial
2     Cuvier's beaked whale        2701       Marine
3  Short-finned pilot whale        2200       Marine
4          White rhinoceros        2175  Terrestrial
Snoozing for 11 seconds before next scrape
Scraping link 6 of 6...
Uh-oh... Problem with https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page6.html
Snoozing for 10 seconds before next scrape
Done scraping!

In [25]:
# calling list with problematic URLs
# physically go to these pages to see where the problem is

problem_urls

['https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page4.html',
 'https://sandeepmj.github.io/scrape-example-page/heaviest-animals-page6.html']

In [26]:
df_all

[                 Animal  Weight(kg)    Type
 0            Blue whale      136000  Marine
 1         Bowhead whale      100000  Marine
 2             Fin whale       70000  Marine
 3  Southern right whale       45000  Marine
 4        Humpback whale       30000  Marine,
                  Animal  Weight(kg)    Type
 0            Gray whale       28500  Marine
 1  Northern right whale       23000  Marine
 2             Sei whale       20000  Marine
 3         Bryde's whale       16000  Marine
 4  Baird's beaked whale       11380  Marine,
                       Animal  Weight(kg)         Type
 0                Minke whale        7500       Marine
 1  Northern bottlenose whale        6500       Marine
 2     Gervais's beaked whale        5600       Marine
 3           African elephant        4800  Terrestrial
 4               Killer whale        3988       Marine,
                      Animal  Weight(kg)         Type
 0              Hippopotamus        3750  Terrestrial
 1            Asian elephant        3178  Terrestrial
 2     Cuvier's beaked whale        2701       Marine
 3  Short-finned pilot whale        2200       Marine
 4          White rhinoceros        2175  Terrestrial]

In [27]:
df_all[3]

                     Animal  Weight(kg)         Type
0              Hippopotamus        3750  Terrestrial
1            Asian elephant        3178  Terrestrial
2     Cuvier's beaked whale        2701       Marine
3  Short-finned pilot whale        2200       Marine
4          White rhinoceros        2175  Terrestrial

In [28]:
pd.concat(df_all, ignore_index=True)

                       Animal  Weight(kg)         Type
0                  Blue whale      136000       Marine
1               Bowhead whale      100000       Marine
2                   Fin whale       70000       Marine
3        Southern right whale       45000       Marine
4              Humpback whale       30000       Marine
5                  Gray whale       28500       Marine
6        Northern right whale       23000       Marine
7                   Sei whale       20000       Marine
8               Bryde's whale       16000       Marine
9        Baird's beaked whale       11380       Marine
10                Minke whale        7500       Marine
11  Northern bottlenose whale        6500       Marine
12     Gervais's beaked whale        5600       Marine
13           African elephant        4800  Terrestrial
14               Killer whale        3988       Marine
15               Hippopotamus        3750  Terrestrial
16             Asian elephant        3178  Terrestrial
17      Cuvier's beaked whale        2701       Marine
18   Short-finned pilot whale        2200       Marine
19           White rhinoceros        2175  Terrestrial